body{
    display: fle;
    justify-content: center;
    text-align: center;
}
.body-container{
    width: 100%;
    max-width: 600px;
    background-color: azure;
    text-align: center;
    padding: 20px;
    border: 4px dotted red;
    border-radius: 25px;
}



.menu1{
    width: fit-content;
    height: 50px;
    color: Red;
    border: 2px solid blue;
}
.menu2{
    width: fit-content;
    height: 50px;
    color: Red;
    border: 2px solid blue;
}
.menu3{
    width: fit-content;
    height: 50px;
    color: Red;
    border: 2px solid blue;
}
.menu4{
    width: fit-content;
    height: 50px;
    color: Red;
    border: 2px solid blue;
}

.appear{
width: 600px;
display: flex;
padding: 10px;
margin: 20px;
}

/* todo list css */
#todo{
    background-color: antiquewhite;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 30px;

}

/* .inputType{
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    padding-left: 30px;
    color: red;
} */

#addbtn{
    height: 35px;
    width: 50px;
    background-color:gray;
    border-radius: 10px;
}

.totalToDo{
    background-color: red;
    margin-bottom: 10px;
    display: flex;
}

.totalToDo input{
    width:100%;
}
.singleRow{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.singleRow input{
    width: 100%;
}

#container1{
    display: none;
}


#appearit{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: aqua;
    padding: 30px;
    border-radius: 25px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 20px;
}

.append_list{
    text-align: start;
    border: 2px solid red;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
}